MONGO_URI=
NEXTAUTH_SECRET=

NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY=
NEXT_PUBLIC_IMAGEKIT_ENDPOINT=

GOOGLE_AUTH_CLIENT=
GOOGLE_AUTH_SECRET=

GITHUB_AUTH_CLIENT=
GITHUB_AUTH_SECRET=

DISCORD_AUTH_CLIENT=
DISCORD_AUTH_SECRET=

NEXTAUTH_URL=